
#hero {
    margin: auto;
    padding: 20px;
    border-bottom:5px solid #000;
    background-color: #000;
}

#hero h1{
color: #fff;
font-weight: lighter;
}

#hero input{
   display: none; 
   visibility: hidden;  
}

#hero .toggle-btn {
    position: absolute;
    top: 20px;
    left: 1445px; 
}

 .toggle-btn .common {
    position:absolute; 
    width: 25px;
    height: 4px;
    top: 5px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle-btn .top_line{
    top: 30%;
    left: 50%;
    top: 10px;
    /* top:30%;
    left:50%; */
    transform: translate(-50%,-50%);
}

.toggle-btn .middle_line {
    top: 50%;
    left: 50%;
    top: 20px;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
}

.toggle-btn .bottom_line {
    top: 70%;
    left: 50%;
    top: 30px;
    /* top: 70%;
    left: 50%; */
    transform: translate(-50%, -50%);
}

#option:checked ~ .top_line{
    left:2px;
    top:14px;
    width:25px;
    transform:rotate(-45deg);
    background: #fff;
}

#option:checked~ .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
    background: #fff;
}

#option:checked~ .middle_line{
   opacity: 0;
    transform: translateX(20deg);
}

#sidenav{
    position:absolute;
    width:300px;
    height:100%;
    background: #000;
    left: -300px;
    transition: .4s;
    z-index: 5;
    border-right:5px solid #000;
}

#sidenav.active{
    left: 0;
}

#sidenav ul li{
    padding: 20px 24px;
}

#sidenav ul li:hover {
    border: 3px solid #fff;
}

#sidenav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

