/* Beggining of top with my name and menu icon */
header {
  border-bottom: 5px solid grey;
  margin-bottom: 10px;
  z-index: 5;
}
#hero {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  border-bottom: 5px solid #000;
  background-color: #000;
}
/* name styling */
#hero h1 {
  color: #fff;
  font-weight: lighter;
}
/* checkbox to activate menu */
#hero input {
  display: none;
  visibility: hidden;
}
/* menu button styling */
#hero .toggle-btn {
  position: absolute;
  top: 20px;
  left: 1445px;
}

.toggle-btn .common {
  position: absolute;
  width: 25px;
  height: 4px;
  top: 5px;
  background: #fff;
  border-radius: 50px;
  transition: 0.3s ease;
}

.toggle-btn .top_line {
  top: 30%;
  left: 50%;
  top: 10px;
  /* top:30%;
    left:50%; */
  transform: translate(-50%, -50%);
}

.toggle-btn .middle_line {
  top: 50%;
  left: 50%;
  top: 20px;
  /* top: 50%;
    left: 50%; */
  transform: translate(-50%, -50%);
}

.toggle-btn .bottom_line {
  top: 70%;
  left: 50%;
  top: 30px;
  /* top: 70%;
    left: 50%; */
  transform: translate(-50%, -50%);
}
/* side panel and toggle button connection */
#option:checked ~ .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
  background: #fff;
}

#option:checked ~ .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
  background: #fff;
}

#option:checked ~ .middle_line {
  opacity: 0;
  transform: translateX(20deg);
}
/* end menu button styling */
/* begin side navigation panel styling */
#sidenav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 74px;
  width: 300px;
  height: 100%;
  background: #000;
  left: -300px;
  transition: 0.4s;
  z-index: 5;
  border-right: 5px solid #000;
}

#sidenav.active {
  left: 0;
}
/* navigation text styling */
#sidenav ul li {
  padding: 20px 24px;
}

#sidenav ul li:hover {
  border: 3px solid #fff;
}

#sidenav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
/* end navigation text styling */
/* portfolio section styling */
#portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 5px solid grey;
  margin-bottom: 10px;
}

#portfolio h2 {
  align-self: flex-start;
  padding: 20px;
}

#portfolio p {
  margin: auto;
  padding-left: 20px;
  padding-top: 10px;
}
/* begin Horiseon 1st portfolio project styling */
.horiseon-container {
  max-width: 700px;
  max-height: 700px;
  float: right;
  padding: 50px;
  align-self: flex-end;
  position: relative;
}
/* formats the image */
.horiseon-container img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid grey;
}
/* formats the caption inside of it */
.horiseon-container figcaption {
  position: absolute;
  bottom: 175px;
  border: 2px solid white;
  background-color: #fff;
  margin-left: 10px;
}
.horiseon-container p {
  border: 2px solid grey;
  padding: 10px;
}
/* begin styling for four boxes that will become other projects*/
.portmenu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 725px;
  margin: auto;
  padding: 5px;
}
.portmenu figure {
  position: relative;
  flex: 0 0 35%;
  margin: 4px auto;
  border: 3px solid;
}
.portmenu figcaption {
  position: absolute;
  bottom: 20px;
  border: 2px solid white;
  margin-left: 10px;
}
/* end portfolio section styling */
#about {
  padding: 50px;
  margin: auto;
  border-bottom: 5px solid grey;
}
/* begin about me section styling */
  #me figure {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-reverse;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex: 0 0 50%;
  }

  #me img {
    border: 2px solid grey;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;
  }

  #me figcaption {
    align-self: flex-end;
    margin-right: auto;
    border: 3px solid grey;
    padding: 1em;
    width: 100%;
    line-height: 25px;
    text-align: center;
    justify-content: center;
  }
/* begin styling for contact me page */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form h3 {
  padding: 10px;
  font-size: 30px;
}
.form form {
  padding: 10px;
}
/* begin media queies to make things fit into different screen sizes */
@media only screen and (min-width: 350px) and (max-width: 500px) {
  header {
    border-bottom: 5px solid grey;
    margin-bottom: 10px;
    z-index: 5;
  }
  #hero {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 15px;
    border-bottom: 5px solid #000;
    background-color: #000;
  }

  #hero h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
  }

  #hero input {
    display: none;
    visibility: hidden;
  }

  #hero .toggle-btn {
    position: absolute;
    top: 20px;
    left: 325px;
  }

  .toggle-btn .common {
    position: absolute;
    width: 20px;
    height: 3px;
    top: 20px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s ease;
  }

  .toggle-btn .top_line {
    left: 50%;
    top: 5px;
    /* top:30%;
        left:50%; */
    transform: translate(-50%, -50%);
  }

  .toggle-btn .middle_line {
    left: 50%;
    top: 10px;
    /* top: 50%;
        left: 50%; */
    transform: translate(-50%, -50%);
  }

  .toggle-btn .bottom_line {
    top: 70%;
    left: 50%;
    /* top: 70%;
        left: 50%; */
    transform: translate(-50%, -50%);
  }

  #option:checked ~ .top_line {
    left: 2px;
    top: 4px;
    width: 16px;
    transform: rotate(-45deg);
    background: #fff;
  }

  #option:checked ~ .bottom_line {
    left: 2px;
    top: 4px;
    width: 16px;
    transform: rotate(45deg);
    background: #fff;
  }

  #option:checked ~ .middle_line {
    opacity: 0;
    transform: translateX(20deg);
  }

  #sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 175px;
    height: 100%;
    background: #000;
    left: -175px;
    transition: 0.4s;
    z-index: 5;
    border-right: 5px solid #000;
  }

  #sidenav.active {
    left: 0;
  }

  #sidenav ul li {
    padding: 15px 18px;
  }

  #sidenav ul li:hover {
    border: 3px solid #fff;
  }

  #sidenav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 5px solid grey;
  margin-bottom: 10px;
}

#portfolio h2 {
  align-self: flex-start;
  padding: 20px;
}

#portfolio p {
  margin: auto;
  padding-left: 20px;
  padding-top: 10px;
}

.horiseon-container {
  max-width: 700px;
  max-height: 700px;
  float: right;
  padding: 50px;
  align-self: flex-end;
  position: relative;
}
.horiseon-container img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid grey;
}
.horiseon-container figcaption {
  position: absolute;
  bottom: 175px;
  border: 2px solid white;
  background-color: #fff;
  margin-left: 10px;
}
.horiseon-container p {
  border: 2px solid grey;
  padding: 10px;
}
.portmenu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 725px;
  margin: auto;
  padding: 5px;
}
.portmenu figure {
  position: relative;
  flex: 0 0 35%;
  margin: 4px auto;
  border: 3px solid;
}
.portmenu figcaption {
  position: absolute;
  bottom: 20px;
  border: 2px solid white;
  margin-left: 10px;
}
#about {
  padding: 50px;
  margin: auto;
  border-bottom: 5px solid grey;
}
  #me figure {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-reverse;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex: 0 0 50%;
  }

  #me img {
    border: 2px solid grey;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;
  }

  #me figcaption {
    align-self: flex-end;
    margin-right: auto;
    border: 3px solid grey;
    padding: 1em;
    width: 100%;
    line-height: 25px;
    text-align: center;
    justify-content: center;
  }
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form h3 {
  padding: 10px;
  font-size: 30px;
}
.form form {
  padding: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 925px) {
  header {
    border-bottom: 5px solid grey;
    margin-bottom: 10px;
    z-index: 5;
  }
  #hero {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 15px;
    border-bottom: 5px solid #000;
    background-color: #000;
  }

  #hero h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 40px;
  }

  #hero input {
    display: none;
    visibility: hidden;
  }

  #hero .toggle-btn {
    position: absolute;
    top: 1px;
    left: 700px;
  }

  .toggle-btn .common {
    position: absolute;
    width: 45px;
    height: 5px;
    top: 5px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s ease;
  }

  .toggle-btn .top_line {
    left: 50%;
    top: 30px;
    /* top:30%;
        left:50%; */
    transform: translate(-50%, -50%);
  }

  .toggle-btn .middle_line {
    left: 50%;
    top: 40px;
    /* top: 50%;
        left: 50%; */
    transform: translate(-50%, -50%);
  }

  .toggle-btn .bottom_line {
    top: 50px;
    left: 50%;
    /* top: 70%;
        left: 50%; */
    transform: translate(-50%, -50%);
  }

  #option:checked ~ .top_line {
    left: 1px;
    top: 40px;
    width: 40px;
    transform: rotate(-45deg);
    background: #fff;
  }

  #option:checked ~ .bottom_line {
    left: 1px;
    top: 40px;
    width: 40px;
    transform: rotate(45deg);
    background: #fff;
  }

  #option:checked ~ .middle_line {
    opacity: 0;
    transform: translateX(20deg);
  }

  #sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 400px;
    height: 100%;
    background: #000;
    left: -400px;
    transition: 0.4s;
    z-index: 5;
    border-right: 5px solid #000;
  }

  #sidenav.active {
    left: 0;
  }

  #sidenav ul li {
    padding: 20px 24px;
  }

  #sidenav ul li:hover {
    border: 3px solid #fff;
  }

  #sidenav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
  }
  #portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 5px solid grey;
    margin-bottom: 10px;
  }

  #portfolio h2 {
    align-self: flex-start;
    padding: 20px;
  }

  #portfolio p {
    margin: auto;
    padding-left: 20px;
    padding-top: 10px;
  }

  .horiseon-container {
    max-width: 700px;
    max-height: 700px;
    float: right;
    padding: 50px;
    align-self: flex-end;
    position: relative;
  }
  .horiseon-container img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid grey;
  }
  .horiseon-container figcaption {
    position: absolute;
    bottom: 175px;
    border: 2px solid white;
    background-color: #fff;
    margin-left: 10px;
  }
  .horiseon-container p {
    border: 2px solid grey;
    padding: 10px;
  }
  .portmenu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 725px;
    margin: auto;
    padding: 5px;
  }
  .portmenu figure {
    position: relative;
    flex: 0 0 35%;
    margin: 4px auto;
    border: 3px solid;
  }
  .portmenu figcaption {
    position: absolute;
    bottom: 20px;
    border: 2px solid white;
    margin-left: 10px;
  }
  #about {
    padding: 50px;
    margin: auto;
    border-bottom: 5px solid grey;
  }
  #me figure {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-reverse;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex: 0 0 50%;
  }

  #me img {
    border: 2px solid grey;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;
  }

  #me figcaption {
    align-self: flex-end;
    margin-right: auto;
    border: 3px solid grey;
    padding: 1em;
    width: 100%;
    line-height: 25px;
    text-align: center;
    justify-content: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form h3 {
    padding: 10px;
    font-size: 30px;
  }
  .form form {
    padding: 10px;
  }
}
